*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zona Pro','Comfortaa';
}

@font-face {
    font-family: 'Zona Pro';
    src: url('fonts/ZonaPro-Bold.woff2') format('woff2'),
        url('fonts/ZonaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zona Pro';
    src: url('fonts/ZonaPro-Thin.woff2') format('woff2'),
        url('fonts/ZonaPro-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

h1{ font-size: 72px;}

h2{ font-size: 48px;}

h3{ font-size: 36px;}

h4{ font-size: 24px;}

h5{ font-size: 20px;}

h6{ font-size: 16px;}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    padding: 1rem 0;
        /* background-image: url(images/herobg.jpg); */
        background-size: 400% 400%;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(45deg, #000000, #181810, #000000);
}

.logo{
    height: 4.4rem;
    top: 1rem;
    left: 1rem;
    z-index: 9999;
}
a{
    text-decoration: none;
}
/* NAVIGATION */

nav{
    z-index: 999;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 3rem;
}
nav li{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}
nav a:hover{
    color: #474710;
}

.burger-menu{
    display: none;
    font-size: 32px;
    cursor: pointer;  
    color: white;
    transition: position ease 0.3s;
}
.burger-menu.open {
    content: 'X'; 
    font-size: 32px;
    position: absolute;
    right: 4.3rem;
    top: 1.9rem;
    z-index: 9999;
  }
.nav-footer{
    display: none;
}

hr{
    display: none;
}
@media (width< 900px) {
    nav a{
        font-size: 1rem;
    }
    nav ul{
        gap: 1rem;
    }
}

@media (width< 720px) {
    nav ul{
        display: none;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: -30px;
        right: 0;
        background-color: #181717;
        width: 100%;
        height: 100vh;
        padding: 10px;
        padding-left: 3rem;
    }
    nav ul.active{
        display: flex;
        justify-content: start;
        padding-top: 8rem;
        gap: 1.6rem;
    }
    .nav-item{
        border-left: 2px solid white;
        padding-left: 2rem;
    }
    .nav-footer.active{
        display: block;
    }
    .nav-footer i {
        color: white;
    }
    .social-icon i{
        color: white;
    }
    .nav-footer img{
        width: 15rem;
        height: 4rem;
        margin-bottom: 1rem;
    }
    .header{
        justify-content: center;
        align-items: center;
    }
    .header-199{
        justify-content: center;
        align-items: center;
    }
    .nav-footer{
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;
        gap: 5rem;
    }
    nav p{
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    nav a{
        font-size: 2rem;
    }
    .nav-footer a{
        font-size: 0.8rem;
    }
    nav .social-icons{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    nav .social-icons i{
        font-size: 2rem;
    }
    nav hr{
        display: block;
        width: 70%;
        color: #b3b3b3;
    
    }
    .logo{
        z-index: 9999;
        height: 3rem;
    }
    .burger-menu{
        display: block;
        position: absolute;
        right: 3rem;
        top: 1.4rem;
    }
}
    @media (width< 540px) {
    nav li a{
        font-size: 1.6rem;
    }

    nav .social-icons{
        margin-top: 1rem;
    }
    nav p{
        font-size: 1rem;
        font-weight: 200;
    }
    .nav-footer{
        padding-top: 0.7rem;
    }
    .header{
        /* position: fixed; */
        top: 0;
        z-index: 99999;
        background-color: transparent;
        height: 80px;
    }
    .burger-menu{
        right: 2rem;
        top: 0.8rem;
    }
    .burger-menu.open {
        right: 2.3rem;
        top: 1.2rem;
        z-index: 9999;
      }
    }

/* HERO SECTION */

.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    /* background: linear-gradient(-45deg, #666642, #a5a582,#666642); */
    background-image: linear-gradient(90deg, rgba(0, 0, 0,1), rgba(105, 105, 105, 0.8)), 
                        url(/images/hero6.jpg);
    /* backdrop-filter: blur(20px); */
    background-attachment: fixed;
    background-size: cover;
	/* animation: gradient 15s ease infinite; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 50% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.hero h1{
    margin-bottom: 2rem;
    font-size: 60px;
    line-height: 4rem;
}
.hero h3{
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 219, 219);
}
.hero h6{
    margin-bottom: 1rem;
    width: 100%;
    font-size: 0.8rem;
}
.hero-content{
    color: white;
    padding: 0 3rem;
    border-left: 2px solid white;
}
.hero-content h3 span{
    font-size: 10px;
}
button{
    padding: 0.8rem 1rem;
    width: 15rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color ease 0.3s ;
    border: 2px solid white;
}
button:hover{
    background-color: rgba(199, 199, 199,0);
    color: white;
    border: 2px solid white;

}
.hero-tabs-container{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}
.hero-tabs-container h4{
    margin-bottom: 1.2rem;
}
.hero-tabs{
    display: flex;
    padding: 0 3rem;
    gap: 2rem;
}
.hero-tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    padding: 0 1rem;
    max-width: 200px;
    /* backdrop-filter: blur(8px); */
    background-color: rgba(185, 192, 168, 0);
    box-shadow: 2px 2px 4px  rgba(195, 197, 180, 0.3); 
    opacity: 0.1;
    /* border-radius: 8px; */
    transform: translateX(-200px);
    transition: transform 0.6s ease-out, box-shadow 0.3s ease, opacity 1s ease-out; 
}
.hero-tab:hover {
    transform: translateY(-15px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 1);
  }
  .hero-tab.show{
    opacity: 1;
    transform: translateX(0);
  }
.hero-tab img{
    width: 8rem;
}
.image-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-tab h3{
    height: 70px;
    max-width: 180px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: rgb(233, 233, 233);
}
@media (width< 1280px) {
    .hero{
        height: 100%;
        padding-top: 10rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-content{
        margin-bottom: 2rem;
    }
    .hero-tabs{
        gap: 1rem;
        margin-bottom: 2rem;
    }
    .hero h1{ 
        font-size: 36px;
    }
    .hero h2{
        font-size: 36px;
    }
}
@media (width< 900px) {
   
    .hero h1{ 
        font-size: 40px;
    }
    .hero h3{
        font-size: 16px;
        font-weight: 600;
    }
    .hero button {
        width: 12rem;
        font-size: 0.8rem;
    }
    .hero img{
        width: 80px;
    }
    .hero .image-icon{
        height: 160px;
    }
}
@media (width< 720px) {
    .hero{
        /* height: 80vh; */
        padding-top: 10rem;
    }
    .hero img{
        width: 60px;
    }
    .hero-tab{
        width: 130px;
        height: 150px;
    }
    .hero-tabs{
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero h3{ 
        font-size: 12px;
    }
    .hero h1{
        font-size: 32px;
    }
    .hero button {
        width: 10rem;
        font-size: 0.7rem;
        padding: 0.6rem;
    }
}
@media (width< 440px) {
    .hero{
        padding-top: 8rem;
        height: 100%;
        background-image: linear-gradient(90deg, rgba(0, 0, 0,0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0,0.8)), 
                        url(/images/hero6.jpg);
    }
    
    .hero-content{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero h3{ 
        font-size: 16px;
    }
    .hero h1{
        font-size: 30px;
        text-align: center;
        line-height: 2.8rem;
    }
    .hero button {
        width: 10rem;
        font-size: 0.7rem;
        padding: 0.6rem;
    }
    .hero-tabs-container h4{
        display: none;
    }
    
}
/* SERVICES */

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    max-width: 1200px;
}
.services-tabs{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 3rem;
}
.services h2{
    margin-bottom: 2rem;
    font-weight: 400;
}
.services h3{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1rem;
}
.services p{
    text-align: center;
    font-weight: 100;
}
.services h5{
    cursor: pointer;
    margin-bottom: 3rem;
}
.services h5:hover{
    color: #808080;
}
.services img{
    width: 6rem;
}
.service-tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-icon{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (width< 900px) {
   
    .services h2{ 
        font-size: 32px;
        text-align: center;
    }
    .services img{
        width: 4.2rem;
    }
    .services h3{
        font-size: 22px;
        font-weight: 400;
    }
    .services p{
        text-align: center;
        font-size: 16px;
        font-weight: 100;
    }
    .services-tabs{
        max-width: 700px;
    }
}
@media (width< 720px) {
    .services-tabs{
        flex-direction: column;
    }
    .service-tab{
        max-width: 360px;
    }
    .services-tabs{
        gap: 1rem;
    }
}
@media (width< 440px) {
    .service-tab{
        max-width: 300px;
    }
    .mainbuttons{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 2rem;
    }
}

/* SERVICES SECTION */

#services{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5rem 0 0 0;
    gap: 2rem;
    /* background-color: #b8b880; */
    background-color: #ffffff;
    position: relative;
}
.service-line{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 20rem;
    background-image: linear-gradient(to bottom, #E6E6D3,white,#E6E6D3);
    /* background-color: #7a7a102f; */
    z-index: 1;
}
#services img{
    z-index: 2;
}
.h3{
    color: #494949;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    transform: translateY(150px);
    opacity: 0;
    transition: transform ease-in 0.5s, opacity ease-in 0.3s;
}
.h3.show{
    transform: translateY(0);
    opacity: 1;
}
.service1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    gap: 3rem;
}
.service1-description{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    justify-content: center;
    padding: 0 2rem;
    background-color: #ffffff;
    z-index: 2;
}
.service1 ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.service1 ul li{
    font-family: 'Comfortaa';
    font-weight: 100;
    padding-left: 1.5rem;
    position: relative; 
}
.service1 ul li::before {
    content: '✔'; 
    position: absolute;
    left: 0; 
    top: -5px;
    color: rgb(51, 231, 51);
}
.service1 p{
    line-height: 24px;
    margin-bottom: 1rem;
}
#services button{
    border: 1px solid #847958;
    color: #847958;
    background-color: transparent;
    width: 300px;
}
#services button:hover{
    background-color:#847958;
    color: white;
}

@media (width < 1280px) {
    #services img{
        width: 400px;
    }
}
@media (width < 900px) {
    .service-line{
        display: none;
    }
    .service1 {
        flex-direction: column;
    }
    #services {
        height: 800px;
        padding: 2rem;
    }
}
@media (width < 720px) {
    #services img{
        width: 300px;
    }
    .service1{
        gap: 1rem;
        padding-bottom: 2rem;
    }
    #services {
        height: 900px;
        padding: 3rem;
    }
    .service1-description{
        align-items: center;
    }
    .h3{
        text-align: center;
        font-size: 2.6rem;
    }
}
/* PROJECTS SECTION */

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 1rem;
    background-color:#ebebe1;
    /* background: linear-gradient(-45deg,  #E6E6D3,#b8b883,#E6E6D3,#b8b883); */
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100%;
}

.projects-container{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 3rem;
    max-width: 1200px;
}

.projects-container a{
    text-decoration: none;
    color:#181717;
}
.project-container p{
    width: 100%;
    background-color: #000000;
    padding: 0.4rem 0;
    font-weight: 600;
    color: white;
    text-align: start;
}
.project-container {
    display: flex;
    width: 340px;
    height: 320px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    text-align: center;
    border: 1px solid #e0e0e0; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.8s ease-in-out, box-shadow 0.3s ease, opacity 0.6s ease-out;
    transform: translateX(-300px);
    opacity: 0;
    background-color: #ffffff;

}
  .project-container.show{
    transform: translateX(0px);
    opacity: 1;
  }
  .project-container:hover {
    transform: translateY(-5px); 
    transition: transform ease 0.2s;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }

.projects img{
    width: 100%;
    height: 160px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.projects h2{
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 1.5rem;
}
.projects h6{
    width: 100%;
    text-align: start;
    padding-left: 1rem;
    font-weight: 600;
    font-size: 0.8rem;
    color: #23a6d5;
    margin-bottom: 1rem;
}
.projects h3{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: start;
    height: 50px;
    width: 100%;
    padding-left: 1rem;
}
.projects p{
    text-align: center;
    font-weight: 100;
}
.projects h5{
    cursor: pointer;
    margin-bottom: 3rem;
    color: #847958;
}
.projects h5:hover{
    color: #413b3b;
}
.projects button{
    border: 2px solid #424242;
    color: #383838;
    background-color: transparent;
    margin-bottom: 2rem;
    transition: all ease-in 0.3s;
}
.projects button:hover{
    background-color: #181717;
    border: 2px solid #181717;
    color: white;
}
@media (width< 1200px) {
    .projects-container{
        flex-wrap: wrap;
    }
}

@media (width< 440px) {
   .projects h2{
     font-size: 28px;
   }
   .projects h3{
    font-size: 20px;
    font-weight: 400;
   }
   .project-container{
    width: 300px;
   }
}

    /* ACTION SECTION */

    .action-section{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        color: white;
        margin-bottom: 0;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), 
                        url(/images/action-background4.jpg);
        background-attachment: fixed;
        background-size: cover;
        animation: gradient 15s ease infinite;
        background-repeat: no-repeat;
    }
    .action-section h2{
        margin-bottom: 2rem;
    }
    .action-section h3{
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 0.5rem;
        text-align: center;
    }
    .action-section button{
        width: 300px;
        margin-top: 1rem;
    }
    .action-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity ease-in 2s;
    }
    .action-container.show{
        opacity: 1;
    }       

    @media (width< 900px) {
   
        .action-section h2{
            font-size: 32px;
        }
        .action-section h3{
            font-size: 26px;
        }
        .action-section button{
            font-size: 16px;
        }
      
    }
    @media (width< 720px) {
   
        .action-section h2{
            font-size: 26px;
        }
        .action-section h3{
            font-size: 22px;
        }
        .action-section button{
            font-size: 16px;
        }
        .action-section{
            gap: 1rem;
        }
    }
    @media (width< 440px) {
        .action-section h2{
            text-align: center;
        }
        .action-section h3{
            font-size: 20px;
        }
        .action-section button{
            font-size: 16px;
            padding: 12px 0;
        }
        

    }   



/* CONTACT SECTION */

.contact{
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
}
.contact-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-color: #f8f8f6;
    padding: 6rem 0;
}
#contact-hero{
    height: 500px;
    background-image: url(images/contact-hero.png);
    margin-bottom: 4rem;
}
.contact-hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
	background-size: cover;
	animation: gradient 15s ease infinite;
}
.contact h2{
    font-size: 40px;
}
.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    padding: 2rem;
}
.contact h4{
    font-weight: 200;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    color:#181818de;
}

.contact h3{
    color: #B3AA8D;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.contact p{
    margin-bottom: 1rem;
    padding: 0;
}
.contact-p{
    max-width: 800px;
    line-height: 24px;
    color: #464646;
    font-size: 1.2rem;
    padding: 3rem;
    text-align: center;
}
.contact img{
    width: 20rem;
    margin-bottom: 2rem;
}
.social-icons{
    display: flex;
    gap: 1rem;
}
.social-icon i{
    font-size: 2rem;
    color: black;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 2rem;
}

.form input{
    border: none;
    line-height: 2rem;
    border-bottom: 1px solid #02020234;
    padding: 0 1rem;
    font-size: 1.3rem;
    outline: none;
    width: 400px;
    background-color: transparent;
}
.form textarea{
    border: none;
    border-bottom: 1px solid #02020234;
    min-height: 100px;
    padding: 0 1rem;
    font-size: 1rem;
    outline: none;
    resize: vertical;
    font-weight: 400;
    background-color: transparent;

}
.form button{
    width: 100%;
    /* background-color: #666642; */
    background-color: #B3AA8D;
    color: white;
}
.form button:hover{
    background-color:hsl(46, 20%, 43%);
}
.contact-info span{
    color: #666642;
    font-weight: 600;
}
.contact-info span a{
    color:#666642;
}
.mobile-footer{
    display: none;
}
@media (width< 900px) {
   
    .contact-container{
        flex-direction: column;
        text-align: center;
        gap: 0;
    }
    .contact-info{
        gap: 1rem;
        align-items: center;
    }
}
@media (width< 720px) {

    .form input, .form textarea{
        width: 340px;
    }
}
@media (width< 440px) {
    .form input, .form textarea{
        width: 300px;
    }
    .contact{
        padding-top: 0;
    }
    .contact-container{
        border: none;
    }
    .contact h4{
        width: 90%;
    }
    .contact img{
        margin-bottom: 0;
    }
    .contact h2{
        text-align: center;
    }
    /* MOBILE FOOTER */
    .mobile-footer{
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        background-color: #000000;
        color: white;
        position: fixed;
        bottom: 0;
        font-size: 0.8rem;
        line-height: 60px;
        z-index: 9999;
    }
    
    .left-mobile-footer, .right-mobile-footer{
        width: 50%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .right-mobile-footer{
        border-left: 1px solid white;
    }
    .left-mobile-footer{
        border-right: 1px solid white;
    }
    .mobile-footer i{
        font-size: 1.6rem;
    }
    .mobile-footer a{
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}  

/* FOOTER */
.footer{
    width: 100%;
    color: white;
    background: linear-gradient(45deg, #000000, #181810, #000000);
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    /* background-image: url(images/herobg.jpg); */
    background-size: 400% 400%;
	/* animation: gradient 15s ease infinite;     */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 2rem; */
    gap: 1rem;
}
.footer img{
    width: 16rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}
.footer i {
    color: rgb(214, 214, 214);
    transition: color 0.3s ease;
}
.footer i:hover {
    color: #B3AA8D;
}
.footer p{
    color: #ffffff;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    transition: color 0.3s ease;

}
.footer a{
    text-decoration: none;
    color: white;
}
.footer a:hover{
    color: #B3AA8D;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    padding: 1rem;
}
@media (width < 440px) {
    .footer{
        padding-bottom: 5rem;
    }
    
}
/* SERVICES PAGE */
.services-hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
	background-size: cover;
	animation: gradient 15s ease infinite;
}
#services-hero{
    height: 500px;
    background-image: url(images/services-hero3.png);
}
#services-hero h2{
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    position: absolute;
    top: 10rem;
}
.services-page{
    background-color: #F8F8F6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}



.services-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.services-content a{
    text-decoration: none;
    color: #000000;
}
.services-page h4{
    margin-bottom: 0.8rem;
    font-weight: 600;
    color: #494646;
}
.services-page p{
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 100;
    max-width: 500px;
    margin-bottom: 1rem;
}

.bio-left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.bio-container{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    width: 800px;
}

.bio-right button{
    width: 200px;
    font-size: 0.8rem;
    padding: 0.4rem 0rem;
    background-color: #fcfcfc;
}

.services-page img{
    width: 12rem;
}
.service-description{
    width: 100%;
    text-align: center;
    background-color: #e6e6d300;
    padding-top: 3rem;
}
.service-description h3{
    font-size: 1.5rem;
    margin-bottom: 3rem;
    padding: 1rem 0;
    background-image: linear-gradient(to bottom, #E6E6D3,white,#E6E6D3);
}
.service-description h6{
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.4rem;
    margin-bottom: 3rem;
    padding: 0 1.4rem;
}
.phases{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
}
.phases img{
    width: 200px;
    height: 180px;
    margin-bottom: 1.4rem;
}
.phase-container{
    max-width: 320px;
}

@media (width < 1280px) {
    .phases{
        gap: 2rem;
        padding: 0 2rem;
    }
    .phases img{
        width: 200px;
    }
}
@media (width< 920px) {
    #services-hero{
        height: 300px;
        animation: none;
        background-image: url(images/services-hero2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #services-hero h2{
        font-size: 1.5rem;
        padding: 0 2rem;
    }
    .services-content{
        text-align: center;
        padding: 0 3rem;
    }
    .bio-container{
        flex-direction: column;
        max-width: 360px;
    }
    .phases{
        flex-wrap: wrap;
        gap: 2rem;
    }
    .phases img{
        width: 240px;
    }
    
}
@media (width < 440px) {
    .phases{
        gap: 0;
    }

}

/* PROJECTS PAGE */

.projects-page img{
    width: 30rem;
}
.projects-page{
    background-color: #F8F8F6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}

.projects-page button{
    color: #8B0808;
    width: 260px;
    text-align: start;
    border: none;
    background-color: transparent;
}
.projects-page button:hover{
    color: #000000;
    background-color: transparent;
    border: none;
}


.projects-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.projects-page h4{
    margin-bottom: 0.8rem;
    font-weight: 600;
    color: #494646;
}
.projects-page p{
    font-size: 0.8rem;
    line-height: 1.4rem;
    max-width: 500px;
    margin-bottom: 1rem;
}

.projects-page .bio-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.projects-page .hero-button{
    border: 2px solid #a1a176;
    color: #a1a176;
    text-align: center;
    width: 300px;
}
.projects-page .hero-button:hover{
    border: 2px solid #a1a176;
    background-color: #a1a176;
    color: white;
    text-align: center;
    width: 300px;
}
@media (width < 768px) {
    .projects-page img{
        width: 20rem;
    }
    .projects-page button{
        text-align:center;
    }
    .projects-page .bio-container{
        gap: 0;
    }
    .projects-page h2{
        font-size: 2rem;
    }
}

/* PAGE 199 */

.services-199 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 2rem;
    margin-bottom: 3rem;
    max-width: 1140px;
}

.service199 {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    background-color: #FBFBF8;
    border: 1px solid #ddd;
    text-align: center;
    aspect-ratio: 1; 
}
.button-199{
    width: 300px;
    margin-bottom: 3rem;
    background-color: #B3AA8D;
    color: white;
    border: 2px solid #B3AA8D;

}
.button-199:hover{
    background-color:hsl(46, 20%, 43%);
    border: 2px solid  hsl(46, 20%, 43%);
}

/* Responsive Design */
@media (max-width: 768px) {
    
    .services-199 {
        grid-template-columns: 1fr;
    }
    .service199{
        max-width: 330px;
    }
}
article{
    width: 100%;
    background-color: #7a7a102f;
}
.benefits-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem;
}
.benefits-container h1, .benefits-container h2 {
    color: #222;
    text-align: center;
}
.benefits-container h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
}
.benefits {
    display: grid;
    grid-template-columns: 2fr;
    gap: 2rem;
}
.benefit {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.benefit i {
    font-size: 1.5rem;
    color: #494646;
    margin-right: 15px;
}
.benefit h3 {
    margin: 0 0 5px;
    font-size: 1.2rem;
    color: #494646;
}
.benefit p {
    margin: 0;
}

#services-hero-199{
    background-image: url(images/services-hero3.png);
}
.header-199{
    width: 100%;
    /* height: 6rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    background: linear-gradient(45deg, #000000, #181810, #000000);
    padding: 1rem 0;
    z-index: 9999;
}
.header-199 a{
    color: black;
}
@media (min-width: 600px) {
    .benefits {
        grid-template-columns: 1fr 1fr;
    }
}

/* BLOG PAGE */

#blog{
    padding-top: 3rem;
    background-color: white;
}

.blog-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 2rem;
}

#blog h2{
    max-width: 900px;
    margin-bottom: 1rem;
}

#blog p{
    font-size: 1rem;
    max-width: 900px;
}
#blog button{
    color:#B3AA8D;
}

@media (width< 1200px) {
    .blog-container{
        flex-direction: column;
        align-items: center;
    }
    
}

/* SUPPORT SECTION */

.support{
    display: flex;
    width: 100%;
}
.left-support, .right-support{
    width: 50%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-support{
    background-color: #B3AA8D;
    color: rgb(255, 255, 255);
}
.right-support{
    background-color:#ebebe1;
    color:hsl(46, 20%, 43%);
}
.number{
    border: 3px solid white;
    padding: 0.6rem 4rem;
    font-size: 1.8rem;
    font-weight: 500;
}
.support h3{
    text-align: center;
    margin-bottom: 1rem;
}
.support h5{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}
.support i{
    font-size: 2rem;
    color:hsl(46, 20%, 43%);
}
.support .social{
    display: flex;
    gap: 2rem;
}

@media (width < 900px) {
    .support{
        flex-direction: column;
    }
    .right-support, .left-support{
        width: 100%;
    }
}

.animate-right{
    transform: translateX(-600px);
    opacity: 0.1;
    transition: transform 0.6s ease-out, opacity 1s ease-out; 
}
.animate-right.show{
    transform: translateX(0);
    opacity: 1;
}
.animate-left{
    transform: translateX(600px);
    opacity: 0.1;
    transition: transform 0.6s ease-out, opacity 1s ease-out; 
}
.animate-left.show{
    transform: translateX(0);
    opacity: 1;
}
