*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}

h1{ font-size: 72px;}

h2{ font-size: 48px;}

h3{ font-size: 36px;}

h4{ font-size: 24px;}

h5{ font-size: 20px;}

h6{ font-size: 16px;}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    background-color: #1817172a;
    padding: 1rem 0;
}

.logo{
    /* position: absolute; */
    height: 4.4rem;
    top: 1rem;
    left: 1rem;
    background-color: #ffffff00;
    backdrop-filter: blur(1rem);
    z-index: 9999;
}

/* NAVIGATION */

nav{
    z-index: 999;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 3rem;
}
nav li{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}
nav a:hover{
    color: rgb(41, 41, 41);
}
.burger-menu{
    display: none;
    font-size: 32px;
    cursor: pointer;  
    color: white;
    transition: position ease 0.3s;
}
.burger-menu.open {
    content: 'X'; /* Replace burger icon with X */
    font-size: 32px;
    position: absolute;
    right: 3.2rem;
    top: 0.8rem;
    z-index: 9999;
  }
.nav-footer{
    display: none;
}
hr{
    display: none;
}
@media (width< 900px) {
    nav a{
        font-size: 1rem;
    }
    nav ul{
        gap: 1rem;
    }
}

@media (width< 720px) {
    nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
        top: -30px;
        right: 0;
        background-color: #181717;
        width: 100%;
        height: 100vh;
        padding: 10px;
    }
    nav ul.active{
        display: flex;
        justify-content: start;
        padding-top: 9rem;
        gap: 2rem;
    }

    .nav-footer.active{
        display: block;
    }
    .nav-footer i, .social-icons i {
        color: white;
    }
    .header{
        justify-content: center;
        align-items: center;
    }

    .nav-footer{
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;
        gap: 5rem;

    }
    nav p{
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    nav a{
        font-size: 2rem;
    }
    nav .social-icons{
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }
    nav .social-icons i{
        font-size: 3rem;
    }
    nav hr{
        display: block;
        width: 70%;
        color: #b3b3b3;
    
    }
    .logo{
        /* position: absolute; */
        left: 3rem;
        top: 1.2rem;
        z-index: 9999;
        height: 3rem;
    }
    .burger-menu{
        display: block;
        position: absolute;
        right: 3rem;
        top: 1.4rem;
    }
}
@media (width< 440px) {
   nav li a{
    font-size: 1.6rem;
   }

   nav .social-icons{
    margin-top: 1rem;
   }
   nav p{
    font-size: 1rem;
    font-weight: 200;
   }
   .nav-footer{
    padding-top: 0.7rem;
   }
}
/* HERO SECTION */

.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.hero h1{
    margin-bottom: 2rem;
    font-size: 60px;
    line-height: 4rem;
}
.hero h3{
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 20px;
    color: black;
}
.hero h6{
    margin-bottom: 1rem;
    width: 100%;
    font-size: 0.8rem;
}
.hero-content{
    color: white;
    padding: 0 3rem;
    border-left: 2px solid white;
}
.hero-content h3 span{
    font-size: 10px;
}
button{
    padding: 0.8rem 1rem;
    width: 15rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color ease 0.3s ;
    border: 2px solid white;
}
button:hover{
    background-color: rgba(199, 199, 199,0);
    color: white;
    border: 2px solid white;

}

.hero-tabs{
    display: flex;
    padding: 0 3rem;
    gap: 2rem;
}
.hero-tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    padding: 0 1rem;
    max-width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    opacity: 0.1;
    transform: translateX(-200px);
    transition: transform 0.6s ease-out, box-shadow 0.3s ease, opacity 1s ease-out; 
}
.hero-tab:hover {
    transform: translateY(-5px); /* Lift the container slightly on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Enhance shadow on hover */
  }
  .hero-tab.show{
    opacity: 1;
    transform: translateX(0);
  }
.hero-tab img{
    width: 8rem;
}
.image-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-tab h3{
    height: 70px;
    max-width: 180px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: white;
}
@media (width< 1280px) {
    .hero{
        height: 100%;
        padding-top: 10rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-content{
        margin-bottom: 2rem;
    }
    .hero-tabs{
        gap: 1rem;
        margin-bottom: 2rem;
    }
    
     
    .hero h1{ 
        font-size: 36px;
    }
    .hero h2{
        font-size: 36px;
    }
}
@media (width< 900px) {
   
    .hero h1{ 
        font-size: 40px;
    }
    .hero h3{
        font-size: 16px;
        font-weight: 600;
    }
    .hero button {
        width: 12rem;
        font-size: 0.8rem;
    }
    .hero img{
        width: 80px;
    }
    .hero .image-icon{
        height: 160px;
    }
}
@media (width< 720px) {
    .hero{
        /* height: 80vh; */
        padding-top: 10rem;
    }
    .hero img{
        width: 60px;
    }
    .hero-tab{
        width: 130px;
        height: 150px;
    }
    .hero-tabs{
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero h3{ 
        font-size: 12px;
    }
    .hero h1{
        font-size: 32px;
    }
    .hero button {
        width: 10rem;
        font-size: 0.7rem;
        padding: 0.6rem;
    }
}
@media (width< 440px) {

    .hero{
        padding-top: 8rem;
        height: 100%;
    }
    .hero-content{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .hero h3{ 
        font-size: 12px;
    }
    .hero h1{
        font-size: 30px;
        text-align: center;
        line-height: 2.8rem;
    }
    .hero button {
        width: 10rem;
        font-size: 0.7rem;
        padding: 0.6rem;
    }
}
/* SERVICES */

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    max-width: 1200px;
}

.services-tabs{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 3rem;
}

.services h2{
    margin-bottom: 2rem;
    font-weight: 400;
}
.services h3{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1rem;
}
.services p{
    text-align: center;
    font-weight: 100;
}
.services h5{
    cursor: pointer;
    margin-bottom: 3rem;
}
.services h5:hover{
    color: #808080;
}
.services img{
    width: 6rem;
}
.service-tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-icon{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (width< 900px) {
   
    .services h2{ 
        font-size: 32px;
        text-align: center;
    }
    .services img{
        width: 4.2rem;
    }
    .services h3{
        font-size: 22px;
        font-weight: 400;
    }
    .services p{
        text-align: center;
        font-size: 16px;
        font-weight: 100;
    }
    .services-tabs{
        max-width: 700px;
    }
}
@media (width< 720px) {
    .services-tabs{
        flex-direction: column;
    }
    .service-tab{
        max-width: 360px;
    }
    .services-tabs{
        gap: 1rem;
    }
}
@media (width< 440px) {
    .service-tab{
        max-width: 300px;
    }

}
/* QUOTE SECTION */

.quote-section{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
    url(/images/hero.webp);
    background-attachment: fixed; /*parallex effect*/
    background-position: center;
    background-repeat: no-repeat;    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    color: white;
    /* margin-bottom: 3rem; */
}

.quote-box{
    height: 180px;
    border: 1px solid  #D1D1D1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
    width: 80%;
}
.quote-box h5{
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 100;
}
@media (width< 440px) {
    .quote-box h5{
        font-size: 16px;
        font-weight: 100;
    }
    p{
        text-align: center;
    }
}
/* PROJECTS SECTION */

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem 0;
    background-color: #f2f2f2;
    width: 100%;
}

.projects-container{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 3rem;
    max-width: 1200px;
}

.projects-container a{
    text-decoration: none;
    color:#181717;
}

.project-container {
    display: flex;
    width: 340px;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    text-align: center;
    border: 1px solid #e0e0e0; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.8s ease-in-out, box-shadow 0.3s ease, opacity 0.6s ease-out; /* Smooth hover effect */
    transform: translateX(-300px);
    opacity: 0;
}
  .project-container.show{
    transform: translateX(0px);
    opacity: 1;
  }
  .project-container:hover {
    transform: translateY(-5px); 
    transition: transform ease 0.2s;

    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }

.projects img{
    /* margin-bottom: 3rem; */
    width: 100%;
    height: 200px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;


}
.projects h2{
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 1.5rem;

}
.projects h6{
    width: 100%;
    text-align: start;
    padding-left: 1rem;
    font-weight: 600;
    font-size: 0.8rem;
    color: #23a6d5;
    margin-bottom: 1rem;
}
.projects h3{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: start;
    height: 50px;
    width: 100%;
    padding-left: 1rem;
}
.projects p{
    text-align: center;
    font-weight: 100;
}
.projects h5{
    cursor: pointer;
    margin-bottom: 3rem;
}
.projects h5:hover{
    color: #808080;
}
.projects button{
    border: 2px solid #c9c9c9;
    color: #a5a5a5;
    margin-bottom: 2rem;
    transition: all ease-in 0.3s;
}
.projects button:hover{
    background-color: #181717;
    border: 2px solid #181717;
    color: white;
}
@media (width< 1200px) {
   
    .projects-container{
        flex-wrap: wrap;
    }
}

@media (width< 440px) {
   .projects h2{
     font-size: 28px;
   }
   .projects h3{
    font-size: 20px;
    font-weight: 400;
   }
   .project-container{
    width: 300px;
   }
}
/* ACTION SECTION */

.action-section{
    width: 100%;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    color: white;
    margin-bottom: 2rem;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
                      url(/images/action-background.jpg);
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
}
.action-section h2{
    margin-bottom: 2rem;
}
.action-section h3{
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 0.5rem;
    text-align: center;
}
.action-section button{
    width: 300px;
    margin-top: 1rem;
}


.parallax-section {
    position: relative;
    height: 40vh; /* Full viewport height */
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
                      url(sample.webp);
    background-attachment: fixed; /* This is the key for the parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

    @media (width< 900px) {
   
        .action-section h2{
            font-size: 32px;
        }
        .action-section h3{
            font-size: 26px;
        }
        .action-section button{
            font-size: 16px;
        }
    }
    @media (width< 720px) {
   
        .action-section h2{
            font-size: 26px;
        }
        .action-section h3{
            font-size: 22px;
        }
        .action-section button{
            font-size: 16px;
        }
        .action-section{
            gap: 1rem;
        }
    }
    @media (width< 440px) {
        .action-section h2{
            text-align: center;
        }
        .action-section h3{
            font-size: 20px;
        }
        .action-section button{
            font-size: 16px;
            padding: 12px 0;
        }
        .action-section{
            gap: 1rem;
        }

    }   
/* CONTACT SECTION */

.contact{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}
.contact-container{
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 4rem;
}
.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
    padding: 2rem;
}
.contact h4{
    font-weight: 200;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.contact h3{
    color: #505050;
    font-weight: 600;
    font-size: 2rem;
}
.contact p{
    margin-bottom: 1rem;
}
.social-icons{
    display: flex;
    gap: 1rem;
}
.social-icon i{
    font-size: 2rem;
    color: black;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 2rem;
}


.form input{
    border: none;
    line-height: 2rem;
    border-bottom: 2px solid black;
    padding: 0 1rem;
    font-size: 1.3rem;
    outline: none;
    width: 400px;
}
.form textarea{
    border: none;
    border-bottom: 2px solid black;
    min-height: 100px;
    padding: 0 1rem;
    font-size: 1.3rem;
    outline: none;
    resize: vertical;
}
.form button{
    width: 100%;
    background-color: #5E5E5E;
    color: white;
}
.form button:hover{
    background-color: #b3b3b3;
}

@media (width< 900px) {
   
    .contact-container{
        flex-direction: column;
        text-align: center;
        gap: 0;
    }
    .contact-info{
        gap: 1rem;
        align-items: center;
    }
}
@media (width< 720px) {

    .form input, .form textarea{
        width: 340px;
    }
}
@media (width< 440px) {
    .form input, .form textarea{
        width: 300px;
    }
    .contact{
        padding-top: 0;
    }
    .contact h4{
        width: 90%;
    }
}  
/* FOOTER */

.footer{
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}
.footer img{
    width: 12rem;
}
.footer i {
    color: rgb(214, 214, 214);
}
.footer p{
    color: #dddddd88;
    font-size: 0.7rem;
}
.services-hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
	background-size: cover;
	animation: gradient 15s ease infinite;
}
#services-hero{
    height: 500px;
    background-image: url(images/services-hero.png);
}
#services-hero h2{
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    position: absolute;
    top: 10rem;
}
.services-page{
    background-color: #F8F8F6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.services-page button{
    color: #6D64FF;
    border: 2px solid #6D64FF;
    width: 300px;
}
.services-page button:hover{
    color: #f8f8f8;
    background-color: #6D64FF;
}


.services-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.services-page h4{
    margin-bottom: 0.8rem;
    font-weight: 600;
    color: #494646;
}
.services-page p{
    font-size: 0.8rem;
    line-height: 1.1rem;
    max-width: 500px;
}
.bio-left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.bio-container{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    width: 800px;
}



.services-page img{
    width: 12rem;
}

@media (width< 820px) {
    #services-hero{
        height: 300px;
        animation: none;
        background-image: url(images/services-hero2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #services-hero h2{
        font-size: 1.5rem;
        padding: 0 2rem;
    }
    .services-content{
        text-align: center;
        padding: 0 3rem;
    }
    .bio-container{
        flex-direction: column;
        max-width: 360px;
    }
}
